<article class="listing">
  <h3>Título</h3>
  {{input class="form-control" value=model.title}}
  <div class="form-group">
    <label for="content">Contenido</label>
    {{textarea class="form-control" rows="5" value=model.body}}
  </div>
  <button {{action 'savePost' model}} class="button">Save</button>
  <button {{action 'deletePost' model.id}} class="button button-red">Delete</button>
</article>
  {{#link-to 'list' class="button marging-left-10"}}Ver Lista {{/link-to}}
{{outlet}}